<header>
<ul class="navbar_ul">
  <div class="brand-xs"> WeBuyGoods.Com </div>
  <li class="brand hidden-xs"> <span> WeBuyGoods.Com </span> </li>
  <li class="menu_item hidden-xs"><span> what we sell </span> </li>
  <li class="menu_item hidden-xs"> <span> all posts </span> </li>
  <li class="menu_item hidden-xs"> <span> About us </span> </li>
</ul>
<div class="introduction">

<div class="devise-wraper">
    Safe, fast and hassle-free. Quick cash for you items. <br/>


</div>

</div>
</header>