<header class="mobile-header">

  <div class="mobile-logo-wrapper">
    WeBuyGood$.Com
  </div>





    <div class="mojo-wrapper">
      We provide safe, fast and hassle-free way to get top dollar for your unwanted items.
    </div>

    <div class="call-wrapper">
      <a href="" class="btn btn-primary btn-lg"> <i class="fa fa-phone"></i> 718 846 16 00 </a>
    </div >

  <div class="scroll-down-wrapper">
    scroll down for more info <br/>
    <i class="fa fa-arrow-circle-o-down fa-lg"></i> <br/>
  </div >

</header>