<header class="mobile-header">

  <div class="mobile-logo-wrapper">
    WeBuyGood$.Com
  </div>

  <div class="mobile-header-wripper">




    <div class="mojo-wrapper">
      <hr/>
      We provide safe, fast and hassle-free way to get fast cash for your unwanted items. <br/>

    </div>

    <div class="instargam-invitation-wrapper">
      #WeBuyGoods on Instagram <br/>
      <a href="" class="btn btn-primary btn-lg"> watch instagram </a>
    </div>

    <div class="instargam-invitation-wrapper">
     phone # 718 846 16 00 <br/>
      <a href="" class="btn btn-primary btn-lg"> call now - <i class="fa fa-phone"></i> </a>
      <hr/>
    </div>

  </div>
</header>