<header>
<ul class="navbar_ul">
  <li class="brand"> <span> WeBuyGoods.Com </span> </li>
  <li class="menu_item"><span> what we sell </span> </li>
  <li class="menu_item"> <span> all posts </span> </li>
  <li class="menu_item"> <span> About us </span> </li>
</ul>
<div class="introduction">
  <h2>
    Subscribe to a hand picked round up of the best
    Alexa Skills Kit (ASK) development links every week.
    Curated by Mark Carpenter and published every Friday. Free.
    <hr/>
  </h2>

</div>
</header>