/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'OpenSans';
    src: url("OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'LogoFont';
    src: url("ContrailOne-Regular.ttf") format("truetype");
}


@font-face {
    font-family: 'NavElementsFont';
    src: url("Track.ttf") format("truetype");
}



@font-face {
    font-family: 'PostTitleFont';
    src: url("OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'PostFont';
    src: url("MadrasExtraLight.otf") format("truetype");
}



a ,span , li {

    font-family:'PostTitleFont', "PT sans" ;

}

header {
    padding-top: 30px;
    background: white;
    color: black !important;
    padding-bottom: 20px;
}




.navbar_ul > li {

    display: inline-block;
    margin-top: 20px;
    font-size: 100%;


}

.navbar_ul > li > span > a {

    color: #000000;
    background: white;
    text-decoration: none;

}

.navbar_ul > li > span > a:hover {

    color: #6eceff;
    transition: color .15s ease-in-out;
}

.brand {
    
    width: 20%;
    text-align: left;
    font-size: 250% !important;
    margin-left: 3%;
    margin-right: 15%;

}

.menu_item {

    width: 10%;
    text-align: center;
    font-size: 140% !important;
    
}

.introduction {

    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 50px;

}


.date-wraper {

    width: 80px;
    height: 80px;
    line-height: 40px;
    background: #6eceff;
    margin-right: 1px;
    margin-left: auto;
    font-size: 120%;
    color: white;
    padding-top: 2px;

}

.page-title-wripper {
    text-align: center;
    font-size: 200%;
    margin-bottom: 10px;
}

.date-wraper > .day {

    font-size: 180%;

}

.type-wrapper {

    width: 80px;
    color: white;
    margin-right: 1px;
    margin-left: auto;
    text-align: center;
    background: #5ba6cf;
}


.date {

    font-size: 140%;
    margin-bottom: 20px;

}

.my_btn {

    margin-top: 10px;

    width: 100% !important;

}

.post-title {

    margin-top: 0;
    font-size: 180%;
    font-family: "PostTitleFont";

}

.post-intro {

    font-family: 'PostFont';
    font-size: 140%;
}

.separator {

    width: 200px;
    height: 3px;
    background: #6eceff;
    margin-bottom: 10px;

}

.post-title > a, .post-title > a:hover {
    color: black;
    background: white;

}

.side-bar-wrapper {


}

.side-bar-wrapper {

    width: 100%;
    padding-left:  10%;
    padding-right:  10%;

}

.featured-image-wrapper {

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.subscribe {
    margin-bottom: 30px;
    width: 100%;
}

.form-for-subscribe {



}


div.social-wrapper > a {

    margin-left: 10px;

}

div.social-wrapper > a:hover {

    text-decoration: none;
    background: white;


}

.side-bar-label {

    font-size: 120%;
    font-weight: bold;


}


.social-wrapper {

    text-align: center;
}

.follow-us {

    margin-top: 20px;

}

div.feature-posts-list > a:hover {

    background: white;
    color:black;

}

.post-image-wraper > img {

    margin-right: 0px;

}

.news {

    background: rgba(255, 0, 0, 0.77) !important;

}

.comment {

    background: rgba(93, 93, 93, 0.57) !important;

}



.brand-xs {
    font-size: 200%;
    text-align: center;
    padding-top: 10px;

}

.show-post-wrapper {

    margin: 0 20px;

}

.show-post-title {

    font-size: 220%;
    text-indent: 30px;

}

header.mobile-header {

    height: 100vh;

}


.mobile-header-wripper > div {

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #5592b7;


}

.mobile-logo-wrapper {

    color: black;
    font-size: 280%;
    background: white;
    margin-bottom: 10px;
    text-align: center;

}

.mojo-wrapper {

    color: white;
    font-size: 200%;

}


.instargam-invitation-wrapper {

    color: white;
    font-size: 170%;

}

.mobile-header-wripper {

    padding-left: 0;
    padding-right: 0;

}


.control-element-background {

    color: #5592b7;

}

.navbar-default {

    background: #65b0e0 !important;
    border: none !important;
    color: white !important;

}

.navbar-toggle {

    border: 1px solid #5592b7 !important;
    width: 20%;
    height: 45px;
    margin-right: 40% !important;
    margin-left: 40% !important;
    background: #5592b7 !important;

}

.navbar-toggle:hover {

    background: #5592b7 !important;

}

.icon-bar {

    background: #ffffff !important;
    width: 90% !important;
    margin-left: 5% !important;
    height: 4px !important;
    margin-bottom: 7px !important;

}

.navbar-nav > li > a {

    color: white !important;
    text-align: center !important;
    font-size: 250%;

}

li.active > a {

    background: #518cb1 !important;

}

.navbar-collapse {

    border-top: none !important;

}



footer {
    margin-top: 40px;
    background: #274456;
    height: 400px;


}

.buy-images-wripper > div > a > img {

    margin-bottom: 20px;

}


.buy-images-wripper > div {

    text-align: center;

}

.buy-images-wripper > div > a > img:hover {

    opacity: .7;
    transition: opacity .5s;

}

.show-main-part-wrapper {

    max-width: 90%;
    margin: 20px auto;
    text-indent: 25px;
}
