
@font-face {
  font-family: 'OpenSans';
  src: url("OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Brand';
  src: url("Melma.ttf") format("truetype");
}


@font-face {
  font-family: 'NavElementsFont';
  src: url("Track.ttf") format("truetype");
}



@font-face {
  font-family: 'PostTitleFont';
  src: url("OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'PostFont';
  src: url("MadrasExtraLight.otf") format("truetype");
}


@font-face {
  font-family: 'Logo';
  src: url("Oranienbaum.ttf") format("truetype");
}

