// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-page-wrapper {

  width: 80%;
  margin-left: 10%;

}

.control-group {

  margin-bottom: 10px !important;

}

.btn {

  color: white !important;

}